@charset "utf-8";
/* 後から指定した値が優先される */
/* command + /でコメント */
body{
  margin:0;

}

section{
  background-color: beige;
  margin: 8px auto;
  width: 500px;
  height: auto;
  border: 4px solid gray;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
}

section > h1 {
  font-size: 24px;
}